
/* h1 is a title
 * h2 is a subtitle
 * h3 is a hanging text title
 * h4 is a non-hanging text title
 * p.noindent is non-hanging text (text without a title)
 * p.contents entries are for the table of contents
 * a.contents are table of contents links (not underlined)
 * a.links are links (underlined)
 * img does not have a border
 * pre is a predefined format for formatting code
 */

/* margin: [top] [right] [bottom] [left] */

body { background-color: white; margin: 0.5in 0.8in 0.5in 1.3in; }

h1 { color: #0000A0; text-align: center; font-style: italic; margin-top: 0.4in; margin-left: -0.5in; }
/* h2.large { color: #0000A0; text-align: center; font-size: x-large; margin-top: 0.4in; margin-left: -0.5in; } */
h2 { color: #0000A0; text-align: center; font-size: larger; margin-top: 0.4in; margin-left: -0.5in; }
h3 { color: #0000A0; margin-top: 0.4in; margin-left: -0.4in; }
h4 { color: #0000A0; margin-top: 0.3in; }

/* paragraph classes */
.noindent { margin-left: -0.4in; }
.contents1 { font-size: 105%; margin: 0; }
.contents2 { margin: 0 0.4in 0 0.4in; }

a.contents:link, a.contents:visited { color: #0000A0; text-decoration: none; }
a.contents:hover { color: #F00000; text-decoration: none; }
a:link, a:visited { color: #0000A0; text-decoration: underline; }
a:hover { color: #F00000; text-decoration: underline; }

img { border: none; }

pre { margin-left: 0.3in; color: navy; font-weight: bold; }

/*- the following styles are for the 'top' button
    the corresponding javascript is in the html document from
    https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_scroll_to_top
*/
#topBtn {
    display: none;          /* Hidden by default */
    position: fixed;        /* Fixed/sticky position */
    bottom: 55px;           /* Place the button from the bottom */
    right: 10px;            /* Place the button from the right */
    z-index: 99;            /* Make sure it does not overlap */
    border: none;           /* Remove borders */
    outline: none;          /* Remove outline */
    background-color: #ccc; /* Set a background color */
    color: #0000C0;         /* Text color */
    cursor: pointer;        /* Add a mouse pointer on hover */
    padding: 10px;          /* Some padding */
    border-radius: 10px;    /* Rounded corners */
}

#topBtn:hover {
    background-color: #aaa; /* Add a darker background on hover */
}
