
Release
Debug
__history
*.stat
*.local
*.identcache
*.dcu
*.dsk
*.~*
*.obj
*.tmp
*.apk
*.bpl
*.cgi
*.d
*.dct
*.dcr
*.dres
*.dst
*.entitlements
*.i
*.ilc
*.ild
*.ilf
*.ilr
*.ils
*.ipa
*.map
*.o
*.ocx
*.pdi
*.profile
*.sdk
*.rsm
*.so
*.tds
*.vlb
*.tvsconfig
*.hpp
