CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "..\devcpp.exe.manifest"

English lng ..\lang\English.lng

/* default order of highlighter component
   may be good idea to make more concrete
(fore, back, bold, italic, under)
1 assembler
2 character
3 comment
4 float
5 hex
6 identifier
7 illegal char
8 number
9 octal
10 preprocess
11 key word
12 whitespace
13 string
14 symbol
15 <selection color>
16 <right margin>
17 Breakpoint
18 Error Line
19 Active Breakpoint
20 Gutter
21 Selected Text
22 Fold bar lines (fg only)
*/
STRINGTABLE
{
/* Classic */
 1, "clBlue, clNone, 0, 0, 0"
 2, "clBlack, clNone, 0, 0, 0"
 3, "clHighlight, clNone, 0, 1, 0"
 4, "clPurple, clNone, 0, 0, 0"
 5, "clPurple, clNone, 0, 0, 0"
 6, "clBlack, clNone, 0, 0, 0"
 7, "clBlack, clNone, 0, 0, 0"
 8, "clPurple, clNone, 0, 0, 0"
 9, "clPurple, clNone, 0, 0, 0"
 10, "clGreen, clNone, 0, 0, 0"
 11, "clBlack, clNone, 1, 0, 0"
 12, "clBlack, clWhite, 0, 0, 0"
 13, "clRed, clNone, 0, 0, 0"
 14, "clBlack, clNone, 0, 0, 0"
 15, "clHighlight, clWhite, 0, 0, 0"
 16, "clWhite, clMaroon, 0, 0, 0"
 17, "clWhite, clRed"
 18, "clWhite, clMaroon"
 19, "clWhite, clBlue"
 20, "clBlack, clBtnFace"
 21, "clWhite, clNavy"
 22, "clBlack, clBtnFace"

/* Classic Plus */
 1001, "clBlue, clNone, 0, 0, 0"
 1002, "clBlack, clNone, 0, 0, 0"
 1003, "clHighlight, clNone, 0, 1, 0"
 1004, "clPurple, clNone, 0, 0, 0"
 1005, "clPurple, clNone, 0, 0, 0"
 1006, "clBlack, clNone, 0, 0, 0"
 1007, "clBlack, clNone, 0, 0, 0"
 1008, "clPurple, clNone, 0, 0, 0"
 1009, "clPurple, clNone, 0, 0, 0"
 1010, "clGreen, clNone, 0, 0, 0"
 1011, "clBlack, clNone, 1, 0, 0"
 1012, "clBlack, clWhite, 0, 0, 0"
 1013, "clBlue, clNone, 1, 0, 0"
 1014, "clRed, clNone, 1, 0, 0"
 1015, "clHighlight, clWhite, 0, 0, 0"
 1016, "clWhite, clMaroon, 0, 0, 0"
 1017, "clWhite, clRed"
 1018, "clWhite, clMaroon"
 1019, "clWhite, clBlue"
 1020, "clBlack, clBtnFace"
 1021, "clWhite, clNavy"
 1022, "clBlack, clBtnFace"

/* Twilight */
 2001, "clLime, clNone, 0, 0, 0"
 2002, "clYellow, clNone, 0, 0, 0"
 2003, "clSilver, clNone, 0, 1, 0"
 2004, "clFuchsia, clNone, 0, 0, 0"
 2005, "clFuchsia, clNone, 0, 0, 0"
 2006, "clWhite, clNone, 0, 0, 0"
 2007, "clYellow, clMaroon, 0, 0, 0"
 2008, "clFuchsia, clNone, 0, 0, 0"
 2009, "clFuchsia, clNone, 0, 0, 0"
 2010, "clGreen, clNone, 0, 0, 0"
 2011, "clAqua, clNone, 0, 0, 0"
 2012, "clWhite, clBlack, 0, 0, 0"
 2013, "clYellow, clNone, 0, 0, 0"
 2014, "clAqua, clNone, 0, 0, 0"
 2015, "clWhite, clRed, 0, 0, 0"
 2016, "clWhite, clMaroon, 0, 0, 0"
 2017, "clWhite, clRed"
 2018, "clWhite, clMaroon"
 2019, "clWhite, clBlue"
 2020, "clWhite, clBlack"
 2021, "clWhite, clNavy"
 2022, "clWhite, clBtnFace"

/* Ocean */
 3001, "clBlue, clNone, 0, 0, 0"
 3002, "clPurple, clNone, 0, 0, 0"
 3003, "clTeal, clNone, 0, 1, 0"
 3004, "clOlive, clNone, 0, 0, 0"
 3005, "clOlive, clNone, 0, 0, 0"
 3006, "clBlue, clNone, 0, 0, 0"
 3007, "clWhite, clMaroon, 0, 0, 0"
 3008, "clOlive, clNone, 0, 0, 0"
 3009, "clOlive, clNone, 0, 0, 0"
 3010, "clBlack, clNone, 0, 0, 0"
 3011, "clBlack, clNone, 0, 0, 0"
 3012, "clBlue, clAqua, 0, 0, 0"
 3013, "clPurple, clNone, 0, 0, 0"
 3014, "clBlack, clNone, 0, 0, 0"
 3015, "clWhite, clRed, 0, 0, 0"
 3016, "clWhite, clMaroon, 0, 0, 0"
 3017, "clWhite, clRed"
 3018, "clWhite, clMaroon"
 3019, "clWhite, clBlue"
 3020, "clBlue, clAqua"
 3021, "clWhite, clNavy"
 3022, "clBlue, clBtnFace"

/* Visual Studio */
 4001, "clBlack, clNone, 0, 0, 0"
 4002, "clBlack, clNone, 0, 0, 0"
 4003, "clGreen, clNone, 0, 0, 0"
 4004, "clBlack, clNone, 0, 0, 0"
 4005, "clBlack, clNone, 0, 0, 0"
 4006, "clBlack, clNone, 0, 0, 0"
 4007, "clRed, clNone, 0, 0, 0"
 4008, "clBlack, clNone, 0, 0, 0"
 4009, "clBlack, clNone, 0, 0, 0"
 4010, "clBlue, clNone, 0, 0, 0"
 4011, "clBlue, clNone, 0, 0, 0"
 4012, "clNone, clWhite, 0, 0, 0"
 4013, "clBlack, clNone, 0, 0, 0"
 4014, "clBlack, clNone, 0, 0, 0"
 4015, "clGreen, clNone, 0, 0, 0"
 4016, "clRed, clNone, 0, 0, 0"
 4017, "clWhite, clRed"
 4018, "clRed, clNone"
 4019, "clWhite, clBlue"
 4020, "clNone, clWhite"
 4021, "clWhite, clNavy"
 4022, "clNone, clBtnFace"

/* Borland */
 5001, "clLime, clNone, 0, 0, 0"
 5002, "clYellow, clNone, 0, 0, 0"
 5003, "clSilver, clNone, 0, 0, 0"
 5004, "clYellow, clNone, 0, 0, 0"
 5005, "clYellow, clNone, 0, 0, 0"
 5006, "clYellow, clNone, 0, 0, 0"
 5007, "clYellow, clNone, 0, 0, 0"
 5008, "clYellow, clNone, 0, 0, 0"
 5009, "clYellow, clNone, 0, 0, 0"
 5010, "clYellow, clNone, 0, 0, 0"
 5011, "clWhite, clNone, 0, 0, 0"
 5012, "clYellow, clNavy, 0, 0, 0"
 5013, "clYellow, clNone, 0, 0, 0"
 5014, "clYellow, clNone, 0, 0, 0"
 5015, "clWhite, clRed, 0, 0, 0"
 5016, "clWhite, clMaroon, 0, 0, 0"
 5017, "clWhite, clRed"
 5018, "clWhite, clMaroon"
 5019, "clBlack, clAqua"
 5020, "clYellow, clNavy"
 5021, "clBlack, clSilver"
 5022, "clYellow, clBtnFace"

/* Matrix */
 6001, "clLime, clNone, 0, 0, 0"
 6002, "$00FF6633, clNone, 0, 0, 0"
 6003, "$00FF6633, clNone, 0, 1, 0"
 6004, "clFuchsia, clNone, 0, 0, 0"
 6005, "clFuchsia, clNone, 0, 0, 0"
 6006, "clLime, clNone, 0, 0, 0"
 6007, "clRed, clMaroon, 0, 0, 0"
 6008, "clBlue, clNone, 0, 0, 0"
 6009, "clFuchsia, clNone, 0, 0, 0"
 6010, "$00CCCC33, clNone, 0, 0, 0"
 6011, "clGreen, clNone, 0, 0, 0"
 6012, "clWhite, clBlack, 0, 0, 0"
 6013, "$00C3C3C3, clNone, 0, 0, 0"
 6014, "clRed, clNone, 0, 0, 0"
 6015, "clHighlight, clWhite, 0, 0, 0"
 6016, "clWhite, clMaroon, 0, 0, 0"
 6017, "clWhite, 8421504"
 6018, "clWhite, 255"
 6019, "clWhite, 16711680"
 6020, "clLime, clBlack"
 6021, "clWhite, clNavy"
 6022, "clRed, clBtnFace"

 /* Obisidian */
 7001, "$0063c793, clNone, 0, 0, 0"
 7002, "$000984ff, clNone, 0, 0, 0"
 7003, "$007b7466, clNone, 0, 1, 0"
 7004, "$0022cdff, clNone, 0, 0, 0"
 7005, "$0022cdff, clNone, 0, 0, 0"
 7006, "$00e4e2e0, clNone, 0, 0, 0"
 7007, "$000000fb, clNone, 0, 0, 0"
 7008, "$0022cdff, clNone, 0, 0, 0"
 7009, "$0022cdff, clNone, 0, 0, 0"
 7010, "$00bd82a0, clNone, 0, 0, 0"
 7011, "$00b18c67, clNone, 0, 0, 0"
 7012, "clNone, $02343129, 0, 0, 0"
 7013, "$000076ec, clNone, 0, 0, 0"
 7014, "$00b7e2e8, clNone, 0, 0, 0"
 7015, "clHighlight, clWhite, 0, 0, 0"
 7016, "clWhite, clMaroon, 0, 0, 0"
 7017, "16777215, $0000cc99"
 7018, "16777215, $001212d5"
 7019, "16777215, $00ffcc00"
 7020, "$0088806a, $003c382f"
 7021, "16777215, $00514e40"
 7022, "$000000c0, $00514e40"

 /* GSS Hacker */
 8001, "$00ff9c00, $00171717, 0, 0, 0"
 8002, "$00fb32c7, $00171717, 0, 0, 0"
 8003, "$00577a57, $00171717, 0, 0, 0"
 8004, "$00c9deee, $00171717, 0, 0, 0"
 8005, "$00c9deee, $00171717, 0, 0, 0"
 8006, "$00FFFFFF, $00171717, 0, 0, 0"
 8007, "$00FFFFFF, $00096105, 0, 0, 0"
 8008, "$00c9deee, $00171717, 0, 0, 0"
 8009, "$00c9deee, $00171717, 0, 0, 0"
 8010, "$00ff9c00, $00171717, 0, 0, 0"
 8011, "$0080ffaf, $00171717, 0, 0, 0"
 8012, "$00FFFFFF, $00171717, 0, 0, 0"
 8013, "$00ca6716, $00171717, 0, 0, 0"
 8014, "$00FFFFFF, $00171717, 0, 0, 0"
 8015, "clHighlight, clWhite, 0, 0, 0"
 8016, "clWhite, clMaroon, 0, 0, 0"
 8017, "$00000000, $0000ad41"
 8018, "$00ffffff, $002620c2"
 8019, "$00FFFFFF, $00998e00"
 8020, "$0002ed06, $00000000"
 8021, "$00FFFFFF, $001c5f4e"
 8022, "$00a5a5a5, $00171717"
 
 /* Obvilion */
 9001, "$00FFAB79, $001E1E1E, 0, 0, 0"
 9002, "$005252D2, clNone, 0, 0, 0"
 9003, "$000CDDC7, $001E1E1E, 0, 0, 0"
 9004, "$0047B37F, $001E1E1E, 0, 0, 0"
 9005, "$0047B37F, $001E1E1E, 0, 0, 0"
 9006, "$00FFD6BE, clNone, 0, 0, 0"
 9007, "$000000FB, clNone, 0, 0, 0"
 9008, "$0047B37F, $001E1E1E, 0, 0, 0"
 9009, "$0047B37F, $001E1E1E, 0, 0, 0"
 9010, "$00FFAB79, $001E1E1E, 0, 0, 0"
 9011, "clWhite, $001E1E1E, 0, 0, 0"
 9012, "$00D8D8D8, $001E1E1E, 0, 0, 0"
 9013, "$0000C6FF, $001E1E1E, 0, 0, 0"
 9014, "$0077E5D9, $001E1E1E, 0, 0, 0"
 9015, "clHighlight, clWhite, 0, 0, 0"
 9016, "clWhite, clMaroon, 0, 0, 0"
 9017, "16777215, 32896"
 9018, "16777215, 5581567"
 9019, "16777215, 13421619"
 9020, "13684944, 1973790"
 9021, "13684944, 0"
 9022, "39423, 5328448"
}