10_DevCpp ICON "images\associations\ide.ico"
1_DevCpp ICON "images\associations\ide2.ico"
2_DevCpp ICON "images\associations\dev.ico"
3_CSource ICON "images\associations\c.ico"
4_CppSource ICON "images\associations\cpp.ico"
5_Header ICON "images\associations\h.ico"
6_HppHeader ICON "images\associations\hpp.ico"
7_RcSource ICON "images\associations\rc.ico"
8_DevPak ICON "images\associations\devpak.ico"
9_DevPackage ICON "images\associations\devpackage.ico"
10_Template ICON "images\associations\template.ico"
